<!--Using the accounts model-->
@model GameReviewWebPortal_SOC09109.Models.Account

@{
    ViewBag.Title = "Admin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--Check the user is correct-->
@if (@Html.Encode(User.Identity.Name) == Model.User_E_Address && Request.IsAuthenticated)
{
    <h1> Admin</h1>
}


