body {
    padding-top: 50px;
    padding-bottom: auto;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/*Main header for each page*/
h1 {
    padding-left:50px;
    font:50px;
    text-decoration:solid;
}

/*used for titles so far*/
h2{
    color: #ff5a09;
}

h3{
    text-align: center;
    color: #ff5a09;
    padding-top: 0.5em;
}

h4{
    background-color: #393939;
    text-align: left;
    color: #ff5a09;
    padding-top: 0.5em;
    
}
h5{
    color: #ffffff;
}

#navbar-header{
    color: #ffffff;
}

#wrapper
{
    width: 1280px;
    margin: 0 auto;
    padding: 10px;
    background-color: #393939;
    color: #ff5a09;
}

/*this is used to control the format, fonts, colours of whats inside the content pane
    this will have all of the games , individual game details, login details etc
*/
#contentPane{
    float: left;
    width: 750px;
    margin: 20px 0 20px 0;
    padding: 10px;
    border: 1px solid  #ff5a09;
    font-size: 16px;
    color: #ffffff;
}

/*this is for the side bar and it controls where the sidebar is within the wrapper(right)
    margin size padding etc
*/
#sidebar{
    float: right;
    width: 250px;
    margin: 20px 10px 20px 10px;
    border: 1px solid  #ff5a09;
}

li{
    list-style-type: none;
    width: 261.35px;
}

img.header{
	display: block;
    margin-left: auto;
    margin-right: auto;
	padding: 0px;
}

li:hover{
    color: #ff5a09;
}

/*this is used to format the heading about the games in individual game page 
    (genre, Platform etc)*/
div > dl > dt > a {
    line-height: 0.6em;
    padding: 0.4em 0em;
    font-size: 17px;
    color: #ff5a09;
}

/*this is used to format the side bar that contains all of the genres
    changes colour, padding etc
*/
div > li > a {
    line-height: 0.6em;
    padding: 0.3em 0.7em;
    font-size: 16px;
    color: #ffffff;
}

#footer{
    clear:both;
    height: 40px;
}
