body {
    padding-top: 50px;
    padding-bottom: auto;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/*Main header for each page*/
h1 {
    padding-left:50px;
    font:50px;
    text-decoration:solid;
}

h2{
    color: #ff5a09;
}

h3{
    background-color: #393939;
    text-align: center;
    color: #ff5a09;

}
h4{
        background-color: #393939;
    text-align: left;
    color: #ff5a09;
}

#navbar-header{
    color: #ffffff;
}
#wrapper
{
    width: 1280px;
    margin: 0 auto;
    padding: 10px;
    background-color: #393939;
    color: #ff5a09;
}
#contentPane{
    float: left;
    width: 750px;
    margin: 20px 0 20px 0;
    padding: 10px;
    border: 1px solid  #ff5a09;
    color: #ffffff;
}

#sidebar{
    float: right;
    width: 250px;
    margin: 20px 10px 20px 10px;
    border: 1px solid  #ff5a09;
    list-style-type: none;
}

li{
    list-style-type: none;
    width: 261.35px;

}

li:hover{
    color: #ff5a09;
}

nav > li > a {
    color:  #ff5a09;
    background-color:#393939;
    display: block;
    line-height: 0.6em;
    padding: 1.05em 0.5em;
    text-decoration: none;
    font-size: 22px;
}

#footer{
    clear:both;
    height: 40px;
}

