@model IEnumerable<GameReviewWebPortal_SOC09109.Models.Game>

@{
    ViewBag.Title = "GRN Game Reviews";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Random 50 Games</h3>
<br /><!--give space between the title and first game-->

<body >
    
    <!--Loop around games and add them to the home page-->
    @foreach (var game in Model)
    {
        var imageSource = String.Concat("/Images/", game.ImageName);
        <div>
            <h2>
                <!--puts the image first and on the left before the text-->
                <img src="@imageSource" alt="gamePicture" style="width:128px;height:128px;" float="left" />
                 @Html.ActionLink(game.Name, "IndividualGame", "Games", new { id = game.GameID }, new { })
        </h2>
        </div>
    }
</body>