@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GRN - Game Review Napier</title>
</head>
<body>
    <h1>GRN - Game Review Napier</h1>
    <div>
       <a>Testing!</a>
    </div>
</body>
</html>
