@model IEnumerable<GameReviewWebPortal_SOC09109.Models.Game>

@{
    ViewBag.Title = "GRN Game Reviews";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Random 50 Games</h3>

<ul>
    @foreach (var game in Model)
    {
        <li>@Html.ActionLink(game.Name,"IndividualGame","Games",new { id = game.GameID }, new { })</li>
    }
</ul>


